In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sn

In [5]:
url = r"C:\Users\gonza\Downloads\Prueba- Analista de datos\Prueba- Analista de datos\leads.csv"
leads = pd.read_csv(url,sep=";",parse_dates=["fecha_ins"])
leads.head(3)

      idl iterable_estado_lead           fecha_ins              origen
0  503234               activo 2020-01-01 00:12:32         Intereses_7
1  503235               activo 2020-01-01 00:19:21  IntDejarFumar>40_9
2  503236               activo 2020-01-01 00:23:23  IntDejarFumar>40_9

In [6]:
leads.iterable_estado_lead.value_counts()

activo                       33332
baja                          7364
alta_socio                    4511
welcome                        227
descanso_welcome_temporal      146
reactivar                       50
descanso_activo                 10
descanso_welcome                 4
Name: iterable_estado_lead, dtype: int64

In [7]:
leads.loc[leads.iterable_estado_lead == "baja"].groupby("origen")["idl"].count().sort_values(ascending=False)

origen
IntDejarFumar>40_9                2315
Intereses_7                       1137
Interaccion_9                      949
Libre_12                           767
PublicoLibreM 35_7                 542
                                  ...
InteMarcasRopa_10                    1
Interacc_Movil_Quiz_3                1
InterePrevencionAmpl_Mujeres_2       1
IntereJubilación_1                   1
InteresesAmpl_Quiz_3                 1
Name: idl, Length: 61, dtype: int64

In [8]:
leads.describe(include="object")

       iterable_estado_lead              origen
count                 45644               45644
unique                    8                  90
top                  activo  IntDejarFumar>40_9
freq                  33332               15838

In [9]:
df_lead_origen = leads.groupby("iterable_estado_lead")["origen"].value_counts().unstack().T

In [10]:
df_lead_origen.sort_values(by="alta_socio",ascending=False).head(10)

iterable_estado_lead,activo,alta_socio,baja,descanso_activo,descanso_welcome,descanso_welcome_temporal,reactivar,welcome
origen,,,,,,,,
IntDejarFumar>40_9,12449.0,908.0,2315.0,4.0,NaN,53.0,17.0,92.0
Intereses_7,4622.0,872.0,1137.0,3.0,NaN,1.0,5.0,3.0
PublicoLibreM 35_7,2558.0,527.0,542.0,1.0,NaN,NaN,3.0,NaN
Libre_12,2575.0,439.0,767.0,1.0,NaN,27.0,1.0,46.0
Interaccion_9,4553.0,416.0,949.0,NaN,NaN,26.0,11.0,33.0
InterccIG_11,769.0,141.0,173.0,1.0,NaN,NaN,4.0,NaN
peticion_9,1481.0,136.0,279.0,NaN,1.0,10.0,NaN,20.0
IntereFelicidadAmpl_14,265.0,91.0,95.0,NaN,NaN,6.0,NaN,2.0
IntereMemesAmpl_14,210.0,84.0,183.0,NaN,NaN,3.0,NaN,6.0
InteraccFB_14,170.0,81.0,88.0,NaN,NaN,6.0,NaN,7.0

In [11]:
df_estado = df_lead_origen.sort_values(by="alta_socio",ascending=False)

In [12]:
df_estado["numero bajas por cada alta"] = df_estado["baja"] / df_estado["alta_socio"]

In [13]:
df_estado.head(10)

iterable_estado_lead,activo,alta_socio,baja,descanso_activo,descanso_welcome,descanso_welcome_temporal,reactivar,welcome,numero bajas por cada alta
origen,,,,,,,,,
IntDejarFumar>40_9,12449.0,908.0,2315.0,4.0,NaN,53.0,17.0,92.0,2.549559
Intereses_7,4622.0,872.0,1137.0,3.0,NaN,1.0,5.0,3.0,1.303899
PublicoLibreM 35_7,2558.0,527.0,542.0,1.0,NaN,NaN,3.0,NaN,1.028463
Libre_12,2575.0,439.0,767.0,1.0,NaN,27.0,1.0,46.0,1.747153
Interaccion_9,4553.0,416.0,949.0,NaN,NaN,26.0,11.0,33.0,2.281250
InterccIG_11,769.0,141.0,173.0,1.0,NaN,NaN,4.0,NaN,1.226950
peticion_9,1481.0,136.0,279.0,NaN,1.0,10.0,NaN,20.0,2.051471
IntereFelicidadAmpl_14,265.0,91.0,95.0,NaN,NaN,6.0,NaN,2.0,1.043956
IntereMemesAmpl_14,210.0,84.0,183.0,NaN,NaN,3.0,NaN,6.0,2.178571
InteraccFB_14,170.0,81.0,88.0,NaN,NaN,6.0,NaN,7.0,1.086420

In [14]:
df_estado.sort_values(by="numero bajas por cada alta",ascending=False)

iterable_estado_lead,activo,alta_socio,baja,descanso_activo,descanso_welcome,descanso_welcome_temporal,reactivar,welcome,numero bajas por cada alta
origen,,,,,,,,,
InteraccFB_Mujeres_2,4.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,4.000000
RMKT_Thruplay_2,26.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,3.000000
LKSoc19_1,7.0,1.0,3.0,NaN,NaN,NaN,1.0,NaN,3.000000
Iterable,9.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,3.000000
LKSoc19_11,74.0,7.0,20.0,NaN,NaN,NaN,NaN,NaN,2.857143
...,...,...,...,...,...,...,...,...,...
multistep_peticion_12,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
multistep_quiz_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
peticion_10,20.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
quiz_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quiz_3,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
bajas = df_estado.reset_index().sort_values(by="numero bajas por cada alta",ascending=False).head(10)
colors = ["#592613" for _ in range(len(bajas))]
colors[0] = "#F6D02D"
bajas.plot(kind="bar",x="origen",y="numero bajas por cada alta")

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [21]:
x = "#592613"
colors_ejemplo = ["#592613" for "#592613" in range(len(bajas)) ]

SyntaxError: cannot assign to literal (<ipython-input-21-c8f249ed384e>, line 2)

In [19]:
colors_ejemplo

['#592613#592613#592613#592613#592613#592613#592613#592613#592613#592613']

In [ ]:
listo = []

In [11]:
df_estado.describe().T

,count,mean,std,min,25%,50%,75%,max
iterable_estado_lead,,,,,,,,
activo,86.0,387.581395,1539.072803,1.0,2.000000,8.50000,74.000000,12449.0
alta_socio,61.0,73.950820,182.050673,1.0,1.000000,10.00000,44.000000,908.0
baja,61.0,120.721311,359.442816,1.0,2.000000,8.00000,43.000000,2315.0
descanso_activo,5.0,2.000000,1.414214,1.0,1.000000,1.00000,3.000000,4.0
descanso_welcome,3.0,1.333333,0.577350,1.0,1.000000,1.00000,1.500000,2.0
descanso_welcome_temporal,14.0,10.428571,14.980574,1.0,1.500000,4.00000,9.000000,53.0
reactivar,12.0,4.166667,4.987864,1.0,1.000000,2.00000,4.250000,17.0
welcome,15.0,15.133333,25.065248,1.0,2.000000,4.00000,13.500000,92.0
numero bajas por cada alta,51.0,1.367455,0.863355,0.1,0.803571,1.22695,1.887164,4.0

In [12]:
url2 = r"C:\Users\gonza\Downloads\Prueba- Analista de datos\Prueba- Analista de datos\socios.csv"
socios = pd.read_csv(url2,sep=";",parse_dates=["fecha_ins","fecha_alta"])
socios.head(3)

     ids           fecha_ins  importe          fecha_alta     idl
0  28995 2019-12-31 09:19:29       12 2020-01-01 10:40:54  504622
1  29047 2020-01-01 10:45:44       12 2020-01-01 11:05:32  504737
2  29049 2020-01-01 11:15:29       12 2020-01-01 11:24:14  504794

In [13]:
alta_socio = leads[leads["iterable_estado_lead"] == "alta_socio"]

In [14]:
alta_socio["origen"].value_counts(normalize=True,ascending=False) * 100

IntDejarFumar>40_9        20.128575
Intereses_7               19.330525
PublicoLibreM 35_7        11.682554
Libre_12                   9.731767
Interaccion_9              9.221902
                            ...
IntEsp_StoriesVideo_2      0.022168
InteraccFB_Mujeres_2       0.022168
Dinamico_CercaHospi_2      0.022168
IntereVacacionesAmpl_2     0.022168
ThruPlay_1                 0.022168
Name: origen, Length: 61, dtype: float64

In [15]:
merge = pd.merge(left=leads,right=socios,how="inner",on="idl")

In [16]:
merge.head(3)

,idl,iterable_estado_lead,fecha_ins_x,origen,ids,fecha_ins_y,importe,fecha_alta
0,503249,alta_socio,2020-01-01 01:12:26,PublicoLibreM 35_7,31536,2020-03-12 13:29:55,9,2020-03-12 13:32:22
1,503250,alta_socio,2020-01-01 01:14:22,IntDejarFumar>40_9,31537,2020-03-12 14:17:34,9,2020-03-12 14:20:44
2,503258,alta_socio,2020-01-01 02:11:37,IntDejarFumar>40_9,31541,2020-03-13 07:29:08,18,2020-03-13 07:37:07

In [17]:
pd.DataFrame(merge.groupby("origen")["importe"].sum().sort_values(ascending=False).tail(10))

                                  importe
origen
InteSupermercados_10                   10
IntDerchAmpl_StoriesVideo_2            10
InterePseudoterAmpl_Movil_Quiz_3        9
VisitasLandings_11                      9
IntEsp_StoriesVideo_2                   9
IntEsp_2                                9
Iterable                                9
LKSoc18_1                               9
IntereCancerAmpl_Connectio_12           9
ThruPlay_1                              5

In [25]:
pd.DataFrame(merge.groupby("origen")["importe"].sum().sort_values(ascending=False).head(10))

                    importe
origen
Intereses_7            8728
IntDejarFumar>40_9     5302
PublicoLibreM 35_7     5151
Interaccion_9          2818
Libre_12               2062
InterccIG_11           1327
Lead_FB                 874
haztesocio_1            802
peticion_9              737
peticion_7              686

In [18]:
merge.describe(include="all")

,idl,iterable_estado_lead,fecha_ins_x,origen,ids,fecha_ins_y,importe,fecha_alta
count,2673.000000,2673,2673,2673,2673.000000,2673,2673.000000,2673
unique,NaN,1,2669,54,NaN,2610,NaN,2664
top,NaN,alta_socio,2020-01-27 11:17:56,Intereses_7,NaN,2020-01-27 11:17:56,NaN,2020-06-09 00:00:00
freq,NaN,2673,4,693,NaN,4,NaN,3
first,NaN,NaN,2020-01-01 01:12:26,NaN,NaN,2019-09-26 16:24:30,NaN,2020-01-01 10:40:54
last,NaN,NaN,2020-07-01 23:02:44,NaN,NaN,2020-07-23 08:45:28,NaN,2020-07-01 23:05:42
mean,518932.062477,NaN,NaN,NaN,32247.189300,NaN,12.466891,NaN
std,11771.370027,NaN,NaN,NaN,1871.095304,NaN,13.677248,NaN
min,503249.000000,NaN,NaN,NaN,25454.000000,NaN,3.000000,NaN
25%,510107.000000,NaN,NaN,NaN,30683.000000,NaN,9.000000,NaN
50%,516609.000000,NaN,NaN,NaN,32273.000000,NaN,10.000000,NaN
75%,522833.000000,NaN,NaN,NaN,33863.000000,NaN,12.000000,NaN
max,548862.000000,NaN,NaN,NaN,35786.000000,NaN,240.000000,NaN